{
	"env": {
		"es6": true,
		"node": true,
		"mocha": true,
		"browser": true
	},
	"parser": "babel-eslint",
	"extends": ["prettier", "eslint:recommended", "eslint-config-leapfrog/react"],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": ["prettier", "react", "react-hooks"],

	"rules": {
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"require-jsdoc": 0,
		"react/display-name": "off",
		"react/prop-types": 0
	},
	"settings": {
		"react": {
			"pragma": "React", // Pragma to use, default to "React"
			"version": "detect" // React version. "detect" automatically picks the version you have installed.
		}
	},
	"globals": {
		"expect": "readonly" // jest adds expect to global for ease out writing tests
	}
}
